.container
  .content.col-sm-12.col-md-10.pull-left
    .posts-card
      .row
      - @posts.each do |post|
        %h1= link_to post.title, post
        %p1= post.content
        %br
        - post.tags.each do |tag|
          .link-tag= tag.name


      = link_to "New", new_post_path, class: 'btn btn-default'
